#  pip install mkdocs-material
#  pip install pymdown-extensions

site_name: OpenFEDEM
site_url: https://openfedem.org/
repo_url: https://github.com/OpenFEDEM

nav:
  - Welcome: index.md
  - Getting started:
    - Installation Guide: installation_guide.md
    - Development Setup: development_setup.md
    - Python API (fedempy): python_api.md
  - Documentation:
      - User Guide (PDF): fedem_docs/FedemUsersGuide.pdf
      - Python API (fedempy): https://openfedem.github.io/fedem-solvers/fedempy
      - Theory Guide (PDF): fedem_docs/FedemTheoryGuide.pdf
      #- User and Theory Guides: guides/A_user_and_theory_guides.md
      - Tutorials: tutorials.md
      - YouTube videos: youtube_videos.md
  - Discussions: discussions.md
  - Issues (Bugs): issues.md
    #  GUI...:  https://github.com/openfedem/fedem-gui/issues
    #  Solvers...: https://github.com/openfedem/fedem-solvers/issues
    #  Models...: https://github.com/openfedem/public_models/issues
    #  Website...: https://github.com/openfedem/openfedem.org/issues
  - Examples:
      - Introduction: examples/0_introduction.md
      - The Loader: examples/A_loader.md
      #- Simple: examples/A_simple.md
      #- Advanced: examples/B_advanced.md
      #- Model imports: examples/C_imports.md
      #- Industrial applications: examples/D_industrial_applications.md
      #- Simulators: examples/E_simulators.md
      #- Digital Twins: examples/F_digital_twins.md
      #- Benchmarks: examples/G_case_studies.md
      #- Physics cases: examples/H_physics.md
      #- API: examples/I_api.md

  - Developer area: developer_area.md

  - Partner area: partner_area.md

theme:
  logo: images/FEDEM-logo-new-low.jpg
  features:
    #- navigation.tabs
    #- navigation.tabs.sticky
    #- navigation.sections
    - header.autohide
    - navigation.path

  name: material
  #name: rtd-dropdown
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  #icon:
  #  previous: fontawesome/solid/angle-left
  #  next: fontawesome/solid/angle-right

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format  # Requires: pip install pymdown-extensions
  - attr_list
  - footnotes

extra_css:
    - css/custom.css
