#  pip install mkdocs-material
#  pip install pymdown-extensions

site_name: OpenFEDEM
site_url: https://openfedem.org/
repo_url: https://github.com/openfedem/fedem-gui/

nav:
  - Welcome: index.md
  - Getting started:
    - Installation Guide: installation_guide.md
    - Development Setup: development_setup.md
    - Python API (fedempy): python_api.md
  - Download:
    - Windows installer (zip): https://github.com/openfedem/fedem-gui/releases/download/fedem-8.1.1/FedemInstaller-R8.1.1.zip
    - Linux installation (tar.gz): https://github.com/openfedem/fedem-gui/releases/download/fedem-8.1.1/Fedem-R8.1.1_Ubuntu-22.04.tar.gz
    - Linux solvers (tar.gz): https://github.com/openfedem/fedem-solvers/releases/download/fedem-8.1.1/fedem-solvers-4.1.1_linux64.tar.gz
    - fedempy package (tar.gz): https://github.com/openfedem/fedem-solvers/releases/download/fedem-8.1.1/fedempy-4.1.1.tar.gz
  - Documentation:
    - User Guide (PDF): https://github.com/openfedem/fedem-docs/releases/download/fedem-8.1.1/FedemUsersGuide.pdf
    - Theory Guide (PDF): https://github.com/openfedem/fedem-docs/releases/download/fedem-8.1.1/FedemTheoryGuide.pdf
    - Python API (fedempy): https://openfedem.github.io/fedem-solvers/fedempy/
    - Solver source code: https://openfedem.github.io/fedem-solvers/solver/
    - Tutorials: tutorials.md
    - YouTube videos: youtube_videos.md
  - Discussions: discussions.md
  - Issues (Bugs): issues.md
  - Examples:
    - Introduction: examples/0_introduction.md
    - The Loader: examples/A_loader.md
      #- Simple: examples/A_simple.md
      #- Advanced: examples/B_advanced.md
      #- Model imports: examples/C_imports.md
      #- Industrial applications: examples/D_industrial_applications.md
      #- Simulators: examples/E_simulators.md
      #- Digital Twins: examples/F_digital_twins.md
      #- Benchmarks: examples/G_case_studies.md
      #- Physics cases: examples/H_physics.md
      #- API: examples/I_api.md
  - Developer area: developer_area.md
  - Partner area: partner_area.md

theme:
  logo: images/FEDEM-logo-new.png
  features:
    #- navigation.tabs
    #- navigation.tabs.sticky
    #- navigation.sections
    - header.autohide
    - navigation.path

  name: material
  #name: rtd-dropdown
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  #icon:
  #  previous: fontawesome/solid/angle-left
  #  next: fontawesome/solid/angle-right

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format  # Requires: pip install pymdown-extensions
  - attr_list
  - footnotes

extra_css:
  - css/custom.css

plugins:
  - search
  - git-revision-date-localized:  # Requires: pip install mkdocs-git-revision-date-localized-plugin
      enable_creation_date: true
